body {
  color: #FFFFFF;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.map {
  padding:2em;
  right: 0;
  background-color: #333333;
}

.timetable{
  padding:2em;
  left: 0;
  margin: 0;
  background-color: #333333;
  font-size: larger;
}

.stop .time {
  width: 4em;
}

.stop .name {
  width: 10em;
}

.stop {
  margin-bottom: 1em;
  display: flex;
}

#logo {
  padding: 1em;
  margin: 0;
}